@media screen and (max-width: 320px) {
  .principal_div{
    width: 320px;
    height: 100%;
  }

  #menu-icon {
    display: block;
  }

  .nav_links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #fff; 
    padding: 10px;
  }

  .nav_links.show {
    display: flex;
  }

  .nav_links a {
    color: #000; 
  }

  #home{
    height: 800px;
    width: 320px;
  }

  .company_name{
    font-size: 60px;
  }

  .home_img {
    height: 300px; 
    width: 300px; 
  }

  .home_fondo{
    visibility: hidden;
  }

  #about{
    height: 1200px;
    gap: 10px;
  }

  .about_img {
    height: 300px; 
    width: 300px; 
  }

  .about_text{
    height: 800px;
    width: 300px;
  }

  #services{
    height: 2200px;
  }

  .services_fondo{
    visibility: hidden;
  }

}


@media screen and (min-width: 321px) and (max-width: 375px) {
  #menu-icon {
    display: block;
  }

  .nav_links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #fff; 
    padding: 10px;
  }

  .nav_links.show {
    display: flex;
  }

  .nav_links a {
    color: #000; 
  }

  #home{
    height: 900px;
    max-width: 375px;
  }

  .home_fondo{
    visibility: hidden;
  }

  .home_img {
    height: 350px; 
    width: 350px; 
  }

  #about{
    height: 1200px;
  }

  .about_img{
    padding-top: 50px;
  }

  .about_text {
    height: 1000px;
    width: 350px;
  }

  #services{
    height: 2200px;
  }

  .services_fondo{
    visibility: hidden;
  }

}

@media screen and (min-width: 376px) and (max-width: 425px) {
  #menu-icon {
    display: block;
  }

  .nav_links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #fff; 
    padding: 10px;
  }

  .nav_links.show {
    display: flex;
  }

  
  .nav_links a {
    color: #000; 
  }

  #home{
    height: 800px;
  }

  .home_img{
    height: 400px;
    width: 400px;
  }

  #about{
    margin-top: 150px;
    height: 1000px;
    gap: 20px;
  }

  .about_img{
    height: 350px;
    width: 350px;
  }  

  .about_text {
    height: 1000px;
    width: 350px;
  }

  #services{
    height: 2200px;
  }

  .services_fondo{
    visibility: hidden;
  }

}

@media screen and (min-width: 426px) and (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .nav_links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #fff; 
    padding: 10px;
  }

  .nav_links.show {
    display: flex;
  }
  
  .nav_links a {
    color: #000; 
  }

  #about{
    height: 1300px;
  }

  .about_img{
    padding-top: 50px;
  }

  .about_text {
    height: 1000px;
    width: 350px;
  }

  #services{
    height: 2200px;
  }

  .services_fondo{
    visibility: hidden;
  }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  
  #nav_container {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  #about{
    height: 1000px;
  } 

  .about_img{
    padding-top: 50px;
  }


  #services{
    height: 1800px;
  }

  .services_fondo{
    visibility: hidden;
  }

}

@media screen and (min-width: 1025px) and (max-width: 1319px) {
  
  #nav_container {
    position: sticky;
    top: 0;
    z-index: 10;
  }


  #services{
    height: 1500px;
  } 

  .services_fondo{
    visibility: hidden;
  }

}

